<div class="row">
	<div class="col-sm-8 col-sm-offset-3">
		<div class="quote-form">
			<%= form_for @quote do |f| %>
				<% unless signed_in? %>
					<h3 class="quote_label">Enter Your Email</h3>
					<%= f.text_field(:email, class: "quote_input") %><br/>
				<% end %>

				<h3 class="quote_label">Name</h3>
				<%= f.text_field(:name, class: "quote_input") %><br/>

				<h3 class="quote_label">Type</h3>
				<%= f.select :field, options_for_select([["Wedding", "Wedding"], ["Corporate", "Corporate"]]) %><br/>

				<h3 class="quote_label">What Are Your Catering Needs?</h3>
				<%= f.text_area(:description, class: "quote_textarea") %><br/>

				<h3 class="quote_label">Location</h3>
				<%= f.text_field(:location, class: "quote_input") %><br/><br/>


				<%= f.submit "Get A Quote", class: "quote-button" %>
			<% end %>
		</div>
	</div>
</div>