<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Find Local Caterers in Your Area" %></title>
  <meta name="google-site-verification" content="-_jZzMHpA14D909Ukb-mFxcrS2RkUKu1emzDfQfU82c" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" >
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>

</body>
</html>
